<link rel="stylesheet" href="/css/csvFileView.css">
<!--include google chart library-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>
  <h4>Page <%= currentPage %></h4>
 
  <table class="table table-bordered">
    <thead>
        <tr>
            <% for (let header of headers) { %>
                <th scope="col" data-column="<%= header %>" class="sortable-header">
                    <%= header %>
                    <button class="sort-button" data-column="<%= header %>" data-order="asc">&#8593;</button>
                    <button class="chart-button" data-column="<%= header %>">Chart</button>
                </th>
            <% } %>
        </tr>
    </thead>
    
    <tbody>
        <% if (headers.length > 0) { %>

            <% // Render CSV file content with the corresponding headers %>
            <% for (let row of data) { %>
                <tr>
                    <% // Dynamically render table data based on the headers %>
                    <% for (let header of headers) { %>
                        <td data-column="<%= header %>">
                            <% if (row[header] !== undefined) { %>
                                <%= row[header] %>
                            <% } %>
                        </td>
                    <% } %>
                </tr>
            <% } %>
        <% } %>
            
    </tbody>
</table>
 <!--  chart container where the chart will be rendered. -->
 <div id="chartContainer" > </div>

  <!-- Add this code to display pagination controls -->
  <div class="pagination">
    <p>pages</p>
    <ul class="pagination-list">
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="<%= i === currentPage ? 'active' : '' %>">
          <a href="/csv/view-file?file=<%= requestedFilePath%>&&page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
    </ul>
  </div>
  <script src="/js/csvFileView.js"></script>